@font-face {
  font-family: 'GolosText';
  src:
    url('/fonts/Golos-Text/Golos-Text_Regular.woff2') format('woff2'),
    url('/fonts/Golos-Text/Golos-Text_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText';
  src:
    url('/fonts/Golos-Text/Golos-Text_Bold.woff2') format('woff2'),
    url('/fonts/Golos-Text/Golos-Text_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}